{% load i18n %}
<h1>{% blocktrans with title=event.title %}Event: {{ title }}{% endblocktrans %}</h1>
<dl class="details">
  <dt>{% trans "Location" %}</dt>
  <dd>{{ event.location }}</dd>

  <dt>{% trans "Bottomliner" %}</dt>
  <dd>{{ event.bottomliner }}</dd>

  <dt>{% trans "When" %}</dt>
  <dd>{{ event.get_when_text }}</dd>

  {% if user.is_authenticated and event.space_request %}
  <dt>{% trans "Space Request" %}</dt>
  <dd><a href="{% url "events:space-request" event.space_request.id %}">{{ event.space_request.title }} ({{ event.space_request.get_state_display }})</a></dd>
  {% endif %}
</dl>
{{ event.render_description }}
