{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} id="calendar"{% endblock %}
{% block content %}
<h1>{% trans "Flying Squirrel Event Calendar" %}</h1>
<div class="month">
  <a class="prev" href="{% url "events:month-calendar" year=prev_month.year month=prev_month.month %}"><i class="fa fa-arrow-left"></i> {% trans "prev" %}</a>
  <a class="next" href="{% url "events:month-calendar" year=next_month.year month=next_month.month %}">{% trans "next" %} <i class="fa fa-arrow-right"></i></a>
  <h2>{{ month_name }}</h2>
</div>
<table class="calendar">
  <thead>
    <tr>
      <th>{% trans "Sun" %}</th>
      <th>{% trans "Mon" %}</th>
      <th>{% trans "Tue" %}</th>
      <th>{% trans "Wed" %}</th>
      <th>{% trans "Thu" %}</th>
      <th>{% trans "Fri" %}</th>
      <th>{% trans "Sat" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for week in calendar %}
    <tr>
      {% for date, items in week %}
      <td data-date-title="{{ date|date:"l F jS, Y"}}" {% if date.month != start_date.month %} class="other-month"{% endif %}>
        <div class="day">{{ date.day }}</div>
        {% if items %}
        <ul>
          {% for item in items %}
          {% if item.space_request.is_pending %}
          <li class="pending">
          {% elif item.space_request.is_declined or item.space_request.is_canceled %}
          <li class="declined">
          {% else %}
          <li>
          {% endif %}
            <a href="{% url "events:view" item.event.id %}">
              <div class="time">{% blocktrans with start_time=item.get_start_time_display end_time=item.get_end_time_display %}{{ start_time }} - {{ end_time}} {% endblocktrans %}</div>
              <div class="title" href="{% url "events:view" item.event.id %}">{{ item.event.title }}</div>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="date-details-hint" class="date-details"><p class="help">{% trans "Tap on a day to see events" %}</p></div>
<div class="pager group">
  <a class="prev" href="{% url "events:month-calendar" year=prev_month.year month=prev_month.month %}"><i class="fa fa-arrow-left"></i> {% trans "prev" %}</a>
  <a class="next" href="{% url "events:month-calendar" year=next_month.year month=next_month.month %}">{% trans "next" %} <i class="fa fa-arrow-right"></i></a>
</div>
{% endblock %}
