{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ title }}</h1>
<form method="POST" class="events">
  {% csrf_token %}
  <fieldset class="compact event-form">
    <legend>{% trans "Event Info" %}</legend>
    {% include "field.html" with field=event_form.title %}
    {% include "field.html" with field=event_form.date %}
    {% include "field.html" with field=event_form.location %}
    {% include "field.html" with field=event_form.bottomliner %}
    {% include "field.html" with field=event_form.start_time %}
    {% include "field.html" with field=event_form.end_time %}
  </fieldset>

  {% for form in update_repeat_forms %}
  {% include "events/_repeat-formset.html" %}
  {% endfor %}
  <div class="new-repeat-forms">
    {% for form in repeat_forms %}
    {% include "events/_repeat-formset.html" %}
    {% endfor %}
  </div>

  <fieldset class="exclude-form">
    <legend>{% trans "Exclude Dates" %}</legend>

    <div class="exclude-list group">
      {% for date in exclude_form.dates.value %}
      <div class="date">
        <input type="hidden" name="exclude-dates" value="{{ date }}">
        {{ date }}
        <a><span class="fa fa-close"></span></a>
      </div>
      {% endfor %}
      <a class='add'>{% trans "Add Date" %}</a>
      <div class="calendar">
        <a class='button close'>{% trans "Close" %}</a>
      </div>
    </div>
  </fieldset>
  {% include "editor/fieldset.html" with field=event_form.description %}
  <div class="actions">
    <button class="cancel" name="cancel" value="1">{% trans "Cancel" %}</button>
    {% if enable_delete %}
    <button class="delete" name="delete" value="1">{% trans "Delete" %}</button>
    {% endif %}
    <button class="submit">{{ submit_text }}</button>
  </div>
</form>
{% endblock %}
{% block bodyextra %}{% include "editor/preview-modal.html" %}{% endblock %}
