{% load i18n %}
{% if requests %}
<table class="space-requests">
  <thead>
    <tr>
      <th>{% trans "Event" %}</th>
      <th>{% trans "Type" %}</th>
      <th class="small-exclude">{% trans "Name" %}</th>
      <th class="small-exclude">{% trans "Submission Date" %}</th>
      <th class="small-exclude">{% trans "Date" %}</th>
      <th>{% trans "Status" %}</th>
      <th class="deposit-icon-header"><span class="fas fa-money-bill-alt"></span></th>
      <th class="bottomliner-icon-header"><span class="fas fa-user-circle"></span></th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <td><a href="{{ request.get_absolute_url }}">{{ request.title }}</a></td>
      <td>{{ request.get_type_display }}</td>
      <td class="small-exclude">{{ request.name }}</td>
      <td class="small-exclude">{{ request.get_created_display }}</td>
      <td class="small-exclude">{{ request.get_date_display }}</td>
      <td><span class="state {{ request.get_state_display|slugify }}">{{ request.get_state_display }}</span></td>
      <td>{% if request.deposit_paid %}<span class="far fa-check-square"></span>{% else %}<span class="far fa-square"></span>{% endif %}</td>
      <td>{% if request.has_bottomliner %}<span class="far fa-check-square"></span>{% else %}<span class="far fa-square"></span>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>{% trans "No requests" %}</h2>
{% endif %}
