{% load i18n %}

<h2>{% trans "How do you want to use the space?" %}</h2>
<table class="key-value">
  <tr>
    <td>{% trans "Title" %}</td>
    <td>{{ space_request.title }}</td>
  </tr>

  <tr>
    <td>{% trans "Event Type" %}</td>
    <td>{{ space_request.event_type }}</td>
  </tr>

  <tr>
    <td>{% trans "Description" %}</td>
    <td>{{ space_request.description }}</td>
  </tr>

  <tr>
    <td>{% trans "Date" %}</td>
    <td>{{ space_request.get_date_display }}</td>
  </tr>

  <tr>
    <td>{% trans "Number of people" %}</td>
    <td>{{ space_request.number_of_people }}</td>
  </tr>

  <tr>
    <td>{% trans "Setup time" %}</td>
    <td>{{ space_request.setup_time }}</td>
  </tr>

  <tr>
    <td>{% trans "Cleanup time" %}</td>
    <td>{{ space_request.cleanup_time }}</td>
  </tr>

  <tr>
    <td>{% trans "Space needs" %}</td>
    <td>{{ space_request.space_needs }}</td>
  </tr>

</table>

<h2>{% trans "Charges/Donations" %}</h2>
<table class="key-value">
  <tr>
    <td>{% trans "Fees/Donations" %}</td>
    <td>{{ space_request.event_charge }}</td>
  </tr>

  <tr>
    <td>{% trans "Squirrel Donation" %}</td>
    <td>{{ space_request.squirrel_donation }}</td>
  </tr>
</table>

{% with items=space_request.calendar_items_on_date %}
{% if items %}
<h2>{% trans "Other Events" %}</h2>
<table class="key-value">
  {% for item in items %}
  <tr>
    <td>{{ item.event.title }}</td>
    <td>{{ item.start_time }} - {{ item.end_time }}{% if item.event.space_request %} <a href="{{ item.event.space_request.get_absolute_url }}">({{ item.event.space_request.get_state_display }})</a>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endwith %}
