{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} class="space-request-form"{% endblock %}
{% block content %}
<h1>{% trans "Single Event Space Request" %}</h1>
{% if mode == 'create' %}
<p>{% trans "Thank you for your interest in the Flying Squirrel Community Space!" %}</p>

<p>{% trans "Please read through these guidelines for using our space before you complete this form:" %}</p>

{% url "docs:view" "principles-of-unity" as pou_url %}
<ul class="pou">
  <li><strong>{% trans "Principles of Unity:" %}</strong> {% blocktrans %}We feel very strongly about our principles of unity.  They help us keep the squirrel space a safe and welcoming zone: <a href="{{ pou_url }}">Read our prinicples of unity</a>.{% endblocktrans %}</li>
  <li><strong>{% trans "Occupancy:" %}</strong> {% trans "91 for the upstairs room and 43 for the downstairs room" %}</li>
  <li><strong>{% trans "Amplified Music days and times:" %}</strong> {% trans "Amplified music is normally only allowed on weekends.  Amplified music must end at 10pm Fridays/Saturdays, and 9pm on Sundays." %}</li>
  <li><strong>{% trans "Rates for Private Parties:" %}</strong> 
    <ul>
      <li>{% trans "Upstairs use:" %}
        <ul>
          <li>{% trans "$85 for 4 hours." %}</li>
          <li>{% trans "$20 each additional hour." %}</li>
          <li>{% trans "$35 deposit." %}</li>
        </ul>
      </li>
      <li>{% trans "Upstairs + Downstairs use:" %}
        <ul>
          <li>{% trans "$130 for 4 hours." %}</li>
          <li>{% trans "$30 each additional hour." %}</li>
          <li>{% trans "$50 deposit." %}</li>
        </ul>
      </li>
      <li>{% trans "Waivers are available if this presents a hardship." %}</li>
    </ul>
  </li>
  <li><strong>{% trans "Music Show Rate:" %}</strong> 
    <ul>
      <li>{% trans "$125 for the night with a $35 deposit upfront" %}</li>
      <li>{% trans "We can open the space for setup 4pm or after." %}</li>
      <li>{% trans "Show must end 10pm or before." %}</li>
      <li>{% trans "Shows happen in the upstairs space." %}</li>
      <li>{% trans "If you want a different schedule (all-day, shorter, afternoon, etc.), we are happy to work with you.  Just fill out the form and we can discuss it." %}</li>
      <li>{% trans "Waivers are available if this presents a hardship." %}</li>
    </ul>
  </li>
  <li><strong>{% trans "Teen Events:" %}</strong> {% trans "Unfortunately, we are not currently hosting teenage parties. This is because some events have gotten out of hand and caused issues for our neighbors. So, even though most events have gone well, we can't accept any at this point." %}</li>
  <li><strong>{% trans "Smoke/Drug/Alcohol Policy:" %}</strong> {% trans "All public events at the Squirrel are alcohol and drug free (inside the space as well as the parking lot). Smoking is prohibited inside the building." %}</li>
  <li><strong>{% trans "Event Promotion:" %}</strong> {% trans "Please know you are responsible for promoting your own event. Our only notice is the posting on the Squirrel Calendar." %}</li>
  <li><strong>{% trans "Cancellation:" %}</strong> {% trans "If you cancel your event more than 2 weeks out, then we can return your deposit." %}</li>
  <li><strong>{% trans "Special Needs:" %}</strong> {% trans "Contact us about special needs (kitchen, etc.)" %}</li>
  <li><strong>{% trans "Clean Up:" %}</strong> {% trans "Groups are responsible for set up and clean up for their events.  Clean up includes taking out the trash." %}</li>
</ul>
{% url "events:ongoing-space-request-form" as ongoing_form_url %}
<p><strong>{% trans "This form is for a single event at the space." %}</strong> {% blocktrans %}If you are looking to use the space on an ongoing basis, please use the <a href="{{ ongoing_form_url }}">Ongoing Space Request Form</a>.{% endblocktrans %}</p>
{% endif %}

<form class="space-use-request" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>{% trans "How do you want to use the space?" %}</legend>
    {% include "field.html" with field=form.title %}
    {% include "field.html" with field=form.event_type %}
    {% include "field.html" with field=form.description %}
    {% include "field.html" with field=form.date %}
    {% include "field.html" with field=form.start_time %}
    {% include "field.html" with field=form.end_time %}
    {% include "field.html" with field=form.setup_time %}
    {% include "field.html" with field=form.cleanup_time %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Covers/Donations" %}</legend>
    {% include "field.html" with field=form.event_charge %}
    {% include "field.html" with field=form.squirrel_donation %}
    <p class="donation"><strong>{% trans "Flying Squirrel Standard Donation:" %}</strong> {% trans "We ask a flat fee of $85 for music shows and private parties with a $35 dollar deposit to hold the space. We request the deposit to discourage last minute cancellations. If you cancel your event more than two weeks out, then we can refund your deposit. For other groups using the space we ask for some donation or a passing of the hat. we are totally volunteer run and funded we need your support." %}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans "Tell us about yourself" %}</legend>
    {% include "field.html" with field=form.name %}
    {% include "field.html" with field=form.email %}
    {% include "field.html" with field=form.squirrel_member %}
    {% include "field.html" with field=form.organization %}
    {% include "field.html" with field=form.website %}
    {% include "field.html" with field=form.mission %}
    {% include "field.html" with field=form.phone_number %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Additional Comments" %}</legend>
    {% include "field.html" with field=form.additional_comments %}
  </fieldset>

  <div class="actions">
    {% if mode == 'create' %}
    <button class="submit">{% trans "Submit" %}</button>
    {% elif mode == 'edit' %}
    <a class="button" href="{% url "events:space-request" space_request.id %}">{% trans "Cancel" %}</a>
    <button class="submit">{% trans "Update" %}</button>
    {% endif %}
  </div>

</form>
{% endblock %}
