{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} id="space-request"{% endblock %}
{% block content %}
{% if not space_request.is_pending %}
<div class="status {{ space_request.get_state_display|lower }}">{{ space_request.get_state_display }}</div>
{% endif %}
<h1>{% blocktrans with id=space_request.id request_type=space_request.get_type_display %}{{ request_type }} Space Request #{{ id }}{% endblocktrans %}</h1>

{% if space_request.type == 'single' %}
{% include "events/space-request-details-single.html" %}
{% elif space_request.type == 'ongoing' %}
{% include "events/space-request-details-ongoing.html" %}
{% endif %}

<h2>{% trans "Tell us about yourself" %}</h2>
<table class="key-value">
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ space_request.name }}</td>
  </tr>

  <tr>
    <td>{% trans "Email" %}</td>
    <td>{{ space_request.email }}</td>
  </tr>

  <tr>
    <td>{% trans "Squirrel Contact" %}</td>
    <td>{{ space_request.squirrel_member }}</td>
  </tr>

  <tr>
    <td>{% trans "Organization" %}</td>
    <td>{{ space_request.organization }}</td>
  </tr>

  <tr>
    <td>{% trans "Website" %}</td>
    <td>{{ space_request.website }}</td>
  </tr>

  <tr>
    <td>{% trans "Mission" %}</td>
    <td>{{ space_request.mission }}</td>
  </tr>

  <tr>
    <td>{% trans "Phone Number" %}</td>
    <td>{{ space_request.phone_number }}</td>
  </tr>
</table>

<p class="extra">
  <a href="{% url "events:lookup-others" space_request.id %}">{% trans "Find other events from this person" %}</a>
</p>

{% if space_request.additional_comments %}
<h2>{% trans "Additional Comments" %}</h2>
<p class="comments">
  {{ space_request.additional_comments }}
</p>
{% endif %}

{% for event in space_request.event_set.all %}
<h2>{% trans "Linked Event" %}</h2
>
<table class="key-value">
  <tr>
    <td>{% trans "Title" %}</td>
    <td>{{ event.title }}</td>
  </tr>
  <tr>
    <td>{% trans "Date" %}</td>
    <td>{{ event.get_date_display }}</td>
  </tr>
  <tr>
    <td>{% trans "Time" %}</td>
    <td>{{ event.get_time_display }}</td>
  </tr>
  <tr>
    <td>{% trans "Bottomliner" %}</td>
    <td>{{ event.bottomliner }}</td>
  </tr>
</table>
<p class="extra">
    <a href="{% url "events:view" event.id %}">{% trans "View event" %}</a>
</p>
{% endfor %}

<div class="notes">
  {% if notes %}
  <h2>Notes</h2>
  <ul class="notes">
    {% for note in notes %}
    <li>
      <div class="date-time">{{ note.datetime }}</div>
      <div class="user">{{ note.user.username }}</div>
      {{ note.body|linebreaks }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="tools">
  <a href="{% url "events:edit-space-request" space_request.id %}">{% trans "Edit Request Info" %}</a>
  {% if not space_request.has_event %}
  <a href="{% url "events:create" %}?space-request={{ space_request.id }}">{% trans "Create Event" %}</a>
  {% endif %}
</div>

<form method="POST" action="">
  {% csrf_token %}
  {% include "field.html" with field=form.state skip_required=1 %}
  {% include "field.html" with field=form.list skip_required=1 %}
  {% include "field.html" with field=form.note %}
  <button class="submit">{% trans "Update" %}</button>
</form>

{% endblock %}

