{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} class="wide-content"{% endblock %}
{% block content %}
<a href="{% url "events:space-requests-copy-notes" %}" class="pull-right">{% trans "Copy notes" %}</a>
<h1>{% trans "Space Requests" %}</h1>
{% for label, requests in request_lists %}
<h2>{{ label }}</h2>
{% include "events/requests-table.html" %}
{% endfor %}
{% if show_all_complete_link %}
<p><a href="{% url "events:space-requests-complete" %}">{% trans "All completed events" %}</a></p>
{% endif %}
{% endblock %}
