{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} id="space-request"{% endblock %}
{% block content %}
{% if not space_request.is_pending %}
<div class="status {{ space_request.get_state_display|lower }}">{{ space_request.get_state_display }}</div>
{% endif %}
<h1>{% blocktrans with id=space_request.id request_type=space_request.get_type_display %}{{ request_type }} Space Request #{{ id }}{% endblocktrans %}</h1>

{% if space_request.type == 'single' %}
{% include "events/space-request-details-single.html" %}
{% elif space_request.type == 'ongoing' %}
{% include "events/space-request-details-ongoing.html" %}
{% endif %}

<div class="section">
  <h2>{% trans "Tell us about yourself" %}</h2>
  <table class="key-value">
    <tr>
      <td>{% trans "Name" %}</td>
      <td>{{ space_request.name }}</td>
    </tr>

    <tr>
      <td>{% trans "Email" %}</td>
      <td>{{ space_request.email }}</td>
    </tr>

    <tr>
      <td>{% trans "Squirrel Contact" %}</td>
      <td>{{ space_request.squirrel_member }}</td>
    </tr>

    <tr>
      <td>{% trans "Organization" %}</td>
      <td>{{ space_request.organization }}</td>
    </tr>

    <tr>
      <td>{% trans "Website" %}</td>
      <td>{{ space_request.website }}</td>
    </tr>

    <tr>
      <td>{% trans "Mission" %}</td>
      <td>{{ space_request.mission }}</td>
    </tr>

    <tr>
      <td>{% trans "Phone Number" %}</td>
      <td>{{ space_request.phone_number }}</td>
    </tr>
  </table>
</div>

{% if space_request.additional_comments %}
<div class="section">
  <h2>{% trans "Additional Comments" %}</h2>
  {{ space_request.additional_comments }}
</div>
{% endif %}

<form method="POST" action="">
  {% csrf_token %}
  {% if not space_request.is_approved %}
  <button class="submit" name="approve" value="1">{% trans "Approve" %}</button>
  {% endif %}
  {% if not space_request.is_denied %}
  <button class="delete" name="deny" value="1">{% trans "Deny" %}</button>
  {% endif %}
</form>

<div class="notes">
  {% if notes %}
  <h3>Notes</h3>
  <ul class="notes">
    {% for note in notes %}
    <li>
      <div class="date-time">{{ note.datetime }}</div>
      <div class="user">{{ note.user.username }}</div>
      {{ note.body|linebreaks }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <form class="note" method="POST" action="">
    {% csrf_token %}
    <textarea name="note" class="submits-form" placeholder="{% trans "add note" %}"></textarea>
  </form>
</div>

{% endblock %}

