{% extends "base.html" %}
{% load i18n %}
{% block html-attrs %} class="space-request-form"{% endblock %}
{% block content %}
<h1>{% trans "Ongoing Event Space Request" %}</h1>
{% if mode == 'create' %}
<p>{% trans "Thank you for your interest in the Flying Squirrel Community Space! Please take your time to fill out this form with care and sincerity. The information that you provide below will be taken seriously and will directly affect how we respond to your request." %}</p>

{% url "events:space-request-form" as single_form_url %}
<p><strong>{% trans "This form is for ongoing usage of the space." %}</strong> {% blocktrans %}If you are looking to use the space for a single event, then you can use the simpler and shorter <a href="{{ single_form_url }}">single event form</a>. {% endblocktrans %}</p>
{% endif %}
<form class="space-use-request" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>{% trans "How do you want to use the space?" %}</legend>
    {% include "field.html" with field=form.title %}
    {% include "field.html" with field=form.description %}
    {% include "field.html" with field=form.dates %}
    {% include "field.html" with field=form.frequency %}
    {% include "field.html" with field=form.squirrel_goals %}
    {% include "field.html" with field=form.space_needs %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Tell us about yourself" %}</legend>
    {% include "field.html" with field=form.name %}
    {% include "field.html" with field=form.email %}
    {% include "field.html" with field=form.squirrel_member %}
    {% include "field.html" with field=form.organization %}
    {% include "field.html" with field=form.website %}
    {% include "field.html" with field=form.mission %}
    {% include "field.html" with field=form.phone_number %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Additional Comments" %}</legend>
    {% include "field.html" with field=form.additional_comments %}
  </fieldset>

  <div class="actions">
    <button class="submit">{% trans "Submit" %}</button>
  </div>

</form>
{% endblock %}
