{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Single Event Space Request" %}</h1>
<form class="space-use-request" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>{% trans "How do you want to use the space?" %}</legend>
    {% include "field.html" with field=form.title %}
    {% include "field.html" with field=form.event_type %}
    {% include "field.html" with field=form.description %}
    {% include "field.html" with field=form.date %}
    {% include "field.html" with field=form.start_time %}
    {% include "field.html" with field=form.end_time %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Charges/Donations" %}</legend>
    {% include "field.html" with field=form.event_charge %}
    {% include "field.html" with field=form.squirrel_donation %}
    <p class="donation"><strong>{% trans "Flying Squirrel Standard Donation:" %}</strong> {% trans "We ask a flat fee of $85 for music shows and private parties with a $35 dollar deposit to hold the space. We request the deposit to discourage last minute cancellations. If you cancel your event more than two weeks out, then we can refund your deposit. For other groups using the space we ask for some donation or a passing of the hat. we are totally volunteer run and funded we need your support." %}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans "Tell us about yourself" %}</legend>
    {% include "field.html" with field=form.name %}
    {% include "field.html" with field=form.email %}
    {% include "field.html" with field=form.squirrel_member %}
    {% include "field.html" with field=form.organization %}
    {% include "field.html" with field=form.website %}
    {% include "field.html" with field=form.mission %}
    {% include "field.html" with field=form.phone_number %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Additional Comments" %}</legend>
    {% include "field.html" with field=form.additional_comments %}
  </fieldset>

  <div class="actions">
    <button class="submit">{% trans "Submit" %}</button>
  </div>

</form>
{% endblock %}
