{% extends "base.html" %}
{% block html-attrs %} id="event"{% endblock %}
{% load i18n %}
{% block content %}
<article>
  <h1>{% blocktrans with title=event.title %}Event: {{ title }}{% endblocktrans %}</h1>
  <dl class="details">
    <dt>{% trans "Location" %}</dt>
    <dd>{{ event.location }}</dd>

    <dt>{% trans "Bottomliner" %}</dt>
    <dd>{{ event.bottomliner }}</dd>

    {% if event.has_repeat %}
    <dt>{% trans "Repeats" %}</dt>
    <dd>{% blocktrans with repeat_type=event.repeat.get_type_display days=event.repeat.get_weekdays_display %}{{ repeat_type }} on {{ days }}{% endblocktrans %}
    </dd>
    {% else %}
    <dt>{% trans "Date" %}</dt>
    <dd>{{ event.date }}</dd>
    {% endif %}
    <dt>{% trans "Time" %}</dt>
    <dd>{{ event.get_start_time_display }} - {{ event.get_end_time_display }}</dd>
  </dl>
  {{ event.render_description }}
</article>
  <div class="tools">
    <a href="{% url "events:calendar" %}">Full Calendar</a>
    {% if user.is_authenticated %}
    <a href="{% url "events:edit" event.id %}">Edit Event</a>
  {% endif %}
  </div>
{% endblock %}

