{% extends "base.html" %}
{% block html-attrs %} id="event"{% endblock %}
{% load i18n %}
{% block content %}
<article>
  {% include "events/_event_data.html" %}

  {% if user.is_authenticated %}
  <div class="tools">
    <a href="{% url "events:edit" event.id %}">Edit Event</a>
    {% if event.space_request %}
    <form method="POST" action="{% url "events:unlink-event" event.id %}">
      {% csrf_token %}
      <button>{% trans "Unlink space request" %}</button>
    </form>
    {% else %}
    <a href="{% url "events:link-event" event.id %}">{% trans "Link to space request" %}</a>
    {% endif %}
  </div>
  {% endif %}
</article>
{% endblock %}

