Django==2.2.27
Pillow==8.0.1
mock==1.0.1
argparse==1.2.1
pytest==6.1.2
pytest-django==4.1.0
factory-boy==2.4.1
libsass==0.6.2
mysqlclient==2.0.1
ply==3.11
python-dateutil==2.4.1
pytz==2020.4
requests==2.24.0
six==1.9.0
slimit==0.8.1
sqlparse==0.2.4
