{% load i18n %}
<fieldset class="editor">
  <legend>{{ field.name|capfirst}}</legend>
  <a href="{% url "editor:formatting-help" %}" class="hint" target="_blank"><i class="fa fa-question-circle"></i> {% trans "formatting help" %}</a>
  {% include "field.html" %}
  <div class="image-tools">
    <button class="upload-image"><i class="fa fa-upload"></i> {% trans "Upload Image" %}</button>
    <button class="copy-image" data-prompt="{% trans "Enter Image URL" %}"><i class="fa fa-copy"></i> {% trans "Copy Web Image" %}</button>
    <button class="preview"><i class="fa fa-eye"></i> {% trans "Preview / Adjust Images" %}</button>
  </div>
  <div class="add-media-progress">
    <div class="bar"></div>
    <div class="text">Uploading&hellip;</div>
  </div>
</fieldset>
