{% extends "base.html" %}
{% load i18n editor %}

{% block content %}
<article>
  <h1>{% trans "Formatting Text" %}</h1>
  <p>{% blocktrans %}We use a simple syntax for formatting documents,
  blog posts, and events.  It should only take a few minutes to pick it up.
  The easiest way to learn is by example.  {% endblocktrans %}</p>
  <h2>{% trans "Text" %}</h2>

{% formattingexample %}
{% blocktrans %}
Use asterisks to make words **bold** or *italic*. 

Separate paragraphs with empty lines

"Smart Quotes" and 'other characters' will automatically be--inserted...
{% endblocktrans %}
{% endformattingexample %}

  <h2>{% trans "Headings" %}</h2>

{% formattingexample %}
{% blocktrans %}
# Use the hash symbol to create headings
## Two hashes creates a subheading

Make sure to put at least one space after the "#"
{% endblocktrans %}
{% endformattingexample %}

  <h2>{% trans "Lists" %}</h2>
{% formattingexample %}
{% blocktrans %}
Use "*" for lists:

* Apple
* Banana
* Orange

Dashes also work:

- Juice
- Coffee
- Water

Make sure to put at least one space after the list character.
{% endblocktrans %}
{% endformattingexample %}

<h2>{% trans "Ordered Lists" %}</h2>
{% formattingexample %}
{% blocktrans %}
Numbers can be used for ordered lists:

1. One
2. Two
3. Three

You can use any number for ordered lists.  This makes for easy re-ordering:

1. One
1. Two
1. Three
{% endblocktrans %}
{% endformattingexample %}

  <h2>{% trans "Links" %}</h2>
{% formattingexample %}
{% blocktrans %}
URLs will be automatically converted into links: http://democracynow.org/.

You can also set the link text:
[Get your news here](http://democracynow.org/).
{% endblocktrans %}
{% endformattingexample %}

  <h2>{% trans "Quotes" %}</h2>
{% formattingexample %}
{% blocktrans %}
Use the ">" char for quotations:

> Those who profess to favor freedom and yet depreciate agitation, are people who want crops without ploughing the ground; they want rain without thunder and lightning; they want the ocean without the roar of its many waters. The struggle may be a moral one, or it may be a physical one, or it may be both. But it must be a struggle. Power concedes nothing without a demand. It never did and it never will.
>
> - Frederick Douglass

You can nest quotes as well:

> Hi, how are you doing?
>> I'm great, how are you?
> Hunky Dory!
{% endblocktrans %}
{% endformattingexample %}

  <h2>{% trans "Images" %}</h2>

{% formattingexample %}
{% blocktrans %}
To add images, place the cursor where you want the image to appear then click one of the add media buttons.  This will insert something like this:

#image-123-full

* You can move the image using cut and paste
* You can float the image left or right using the Preview / Adjust Images button
* You can also add a caption:

#image-123-full
#caption A cute squirrel
{% endblocktrans %}
{% endformattingexample %}

</article>
{% endblock %}
