{% extends "base.html" %}
{% load i18n %}
{% block "content" %}
<h2>{% trans "Flying Squirrel Member Login" %}</h2>
<p>Please enter your username and password.  If you don't have one, ask a member to create an invitation for you.
</p>
<form method="POST">
    {% csrf_token %}
    <label>{% trans "Username" %}
        {{ form.username }}
    </label>
    <label>{% trans "Password" %}
        {{ form.password }}
    </label>
    <input type="submit" value="{% trans "Login" %}">
</form>
{% endblock %}
