{% load i18n mediabuilder %}
<html{% block html-attrs %}{% endblock %}>
<head>
    <title>Flying Squirrel Community Space</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300|Alegreya:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% js_bundle "app.js" %}
    {% sass_bundle "app.css" %}
</head>
<body>
<div class="page">
  {% block nav %}
  <nav id="main">
    <div id="expand-menu">
      <button>{% trans "MENU" %}</button>
    </div>
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "docs:view" "about-us" %}">About Us</a></li>
      <li><a href="{% url "events:calendar" %}">Calendar</a></li>
      <li><a href="{% url "events:book-the-space" %}">Book the Space</a></li>
      {% if user.is_authenticated %}
      {% include "squirrel-menu.html" %}
      {% endif %}
    </ul>
  </nav>
  {% endblock %}
  <div class="heading{% if request.user.is_authenticated %} member{% endif %}">
    <div class="top">
      <h1 class="title"><span>Flying Squirrel</span> <span>Community Space</span></h1>
      <ul class="vcard">
        <li class="adr">
          <span class="street-address">285 Clarissa St.</span>
          <span class="locality">Rochester</span>
          <span class="state">NY</state>,
          <span class="postal-code">14608</span>
        </li>
        <li class="tel">585-678-6870</li>
      </ul>
    </div>
    <div class="extra">{% block header-extra %}{% endblock %}</div>
  </div>
  <div class="content">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</div>
<div class="footer">
  <ul>
    <li>
      <a href="#"><span class="fa fa-envelope"></span> Email List</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-facebook-square"></span> Facebook Page</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-money"></span> Donate</a>
    </li>
    <li class="last">
      {% if user.is_anonymous %}
      <a href="{% url "login" %}"><span class="fa fa-sign-in"></span> Member Login</a>
      {% else %}
      <a href="{% url "logout" %}"><span class="fa fa-sign-out"></span> Logout</a>
      {% endif %}
    </li>
  </ul>
</div>
{% block bodyextra %}{% endblock %}
</body>
</html>
