{% load i18n mediabuilder overlaybanner %}
<html{% block html-attrs %}{% endblock %}>
<head>
    <title>Flying Squirrel Community Space</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300|Alegreya:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% js_bundle "app.js" %}
    {% sass_bundle "app.css" %}
</head>
<body>
{% overlaybanner %}
{% block nav %}
<nav id="main">
  <div id="expand-menu">
    <button>{% trans "MENU" %}</button>
  </div>
  <ul>
    <li><a href="{% url "home" %}">Home</a></li>
    <li><a href="{% url "docs:view" "about-us" %}">About Us</a></li>
    <li><a href="{% url "events:calendar" %}">Calendar</a></li>
    <li><a href="{% url "events:book-the-space" %}">Book the Space</a></li>
    {% if user.is_authenticated %}
    {% include "squirrel-menu.html" %}
    {% endif %}
  </ul>
</nav>
{% endblock %}
<div class="heading{% if request.user.is_authenticated %} member{% endif %}">
  <div class="top">
    <h1 class="title"><span>Flying Squirrel</span> <span>Community Space</span></h1>
    <ul class="vcard">
      <li class="adr">
        <span class="street-address">285 Clarissa St.</span>
        <span class="locality">Rochester</span>
        <span class="state">NY</state>,
        <span class="postal-code">14608</span>
      </li>
      <li class="tel">585-205-8778</li>
      <li class="email">FlyingSquirrel@rocus.org</li>
    </ul>
  </div>
  <div class="extra">{% block header-extra %}{% endblock %}</div>
</div>
{% if breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  {% for breadcrumb in breadcrumbs %}
  {% if breadcrumb.url %}
  <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
  {% else %}
  <li>{{ breadcrumb.label }}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
<div class="content">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
      </li>
      {% endfor %}
  </ul>
  {% endif %}
  {% block content %}{% endblock %}
</div>
<footer>
  <ul>
    <li>
    <a href="{% url "contact-us" %}"><span class="fa fa-phone-square"></span> Contact Us</a>
    </li>
    <li>
    <a href="{% url "email-list-signup" %}"><span class="fa fa-envelope"></span> Email List</a>
    </li>
    <li>
      <a href="http://www.facebook.com/profile.php?id=100000140036866&ref=ts"><span class="fa fa-facebook-square"></span> Facebook Page</a>
    </li>
    <li class="last">
      <a href="https://fundly.com/keep-the-squirrel-alive"><span class="fa fa-money"></span> Donate</a>
    </li>
  </ul>
</footer>
{% block bodyextra %}{% endblock %}
</body>
</html>
