{% load mediabuilder %}
<html>
<head>
    <title>Flying Squirrel Community Space</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300|Alegreya:700|Lato:400,700' rel='stylesheet' type='text/css'>
    {% js_bundle "app.js" %}
    {% sass_bundle "app.css" %}
</head>
<body>
<div class="page">
  <div id="menu-toggle">
      <button role="button" aria-label="Toggle Menu">
        <span class="lines"></span>
      </button>
  </div>
  <nav id="main" role="navigation">
    <ul class="links">
      <li class="active"><a href="#">home</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">calendar</a></li>
      <li><a href="#">groups</a></li>
      <li><a href="#">using the space</a></li>
      <li class="user"><a href="#">login/signup</a></li>
    </ul>
  </nav>
  <div class="heading">
      <div class="top">
          <h1><span>Flying Squirrel</span> <span>Community Space</span></h1>
          <ul class="vcard">
              <li class="adr">
                  <span class="street-address">285 Clarissa St.</span>
                  <span class="locality">Rochester</span>
                  <span class="state">NY</state>,
                  <span class="postal-code">14608</span>
              </li>
              <li class="tel">585-678-6870</li>
          </ul>
      </div>
      <div class="extra">{% block "header-extra" %}{% endblock %}</div>
  </div>
  {% block "content" %}{% endblock %}
</div>
</body>
</html>
