{% extends "base.html" %}
{% block "header-extra" %}
<div class="callout"><div class="inner">
    <h2>Who we are</h2>
    <p>The Flying Squirrel Community Space is a welcoming space for artists,
    activists, and community members in Rochester.  We aim to cultivate and
    sustain long lasting relationships so we can work together to create
    positive social change.</p>
    <ul>
        <li><a href="#">More about us</a>.</li>
        <li><a href="#">Groups that use the space.</a></li>
    </ul>
    <ul class="vcard">
      <li class="adr">
        <span class="street-address">285 Clarissa St.</span>
        <span class="locality">Rochester</span>
        <span class="state">NY</state>,
        <span class="postal-code">14608</span>
      </li>
      <li class="tel">585-678-6870</li>
    </ul>
</div></div>

<div class="callout"><div class="inner">
    <h2>What's Happening?</h2>

    <ul class="upcoming">
      <li>
      <div class="title">Coalition of Concerned Residents of Monroe County</div>
      <div class="date">Mon, Jan. 19 - 6:00pm - 8:00pm</div>
      </li>

      <li>
      <div class="title">Flying Squirrel Working time</div>
      <div class="date">Mon, Jan. 19 - 7:00pm - 9:00pm</div>
      </li>

      <li>
      <div class="title">Enough is Enough! Organizing meeting</div>
      <div class="date">Tue, Jan. 20 - 7:00pm - 9:00pm</div>
      </li>

      <li>
      <div class="title">Whirly Wednesday --upstairs</div>
      <div class="date">Wed, Jan. 21 - 7:00pm - 10:00pm</div>
      </li>

      <li>
      <div class="title">TBTL Meeting</div>
      <div class="date">Wed, Jan. 21 - 7:00pm - 9:00pm</div>
      </li>
    </ul>

    <p> <a href="#">host your event at the squirrel</a> </p>
</div></div>

<div class="callout"><div class="inner">
    <h2>Get Involved</h2>
    <ul>
      <li>Friend us! <a href="#">Flying Squirrel Facebook page</a></li>
      <li>Sign up for our <a href="#">event announcement list</a></li>
      <li><a href="#">Volunteer at the squirrel</a></li>
      <li><a href="#">Donate to the squirrel</a></li>
    </ul>
</div></div>

{% endblock %}
{% block "content" %}
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
<p>
Integer vestibulum efficitur eros vitae lacinia. Nam sagittis nec tellus ac
faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada
fames ac turpis egestas. Maecenas sit amet velit tortor. Phasellus non augue
sit amet ante suscipit pulvinar. Cum sociis natoque penatibus et magnis dis
parturient montes, nascetur ridiculus mus. Praesent sed semper orci. Cras ac
erat placerat, gravida enim a, vehicula ex. Sed lectus enim, vehicula a felis
et, egestas tempor velit. Integer vel diam sit amet mauris consectetur
imperdiet. Etiam laoreet rutrum porttitor. Aliquam et magna quis mi ultrices
blandit. Sed sit amet dui id massa tincidunt consectetur. In quis sodales erat,
convallis dignissim ex.
</p>

<h2> Cras dictum accumsan arcu eu placerat. </h2>
<p>
Integer nisl nulla, lobortis ut vestibulum quis, rutrum efficitur urna. Nunc
ullamcorper diam id turpis rutrum, sodales faucibus justo congue. Curabitur
semper lorem sed dolor laoreet, et condimentum diam consequat. Nam at purus
rutrum turpis auctor porttitor a nec diam. In sed tempor odio. Mauris eleifend
nec arcu eu porttitor. Integer eu nulla tortor. Aenean porta sem felis, id
sollicitudin odio tempor id. Nunc condimentum feugiat varius. Nulla efficitur
dictum pellentesque. Nulla a nunc rutrum, posuere odio sit amet, consequat
risus. Morbi tempor ac diam dictum tempus. Sed sed leo ut sapien sodales
pellentesque sit amet eget neque. Fusce nec bibendum leo, eget luctus metus.
Integer vestibulum efficitur placerat.
</p>

<h2> Nulla tincidunt mauris eros, at molestie nunc facilisis eget.</h2>
<p> Phasellus et fringilla sapien, eget convallis urna. Vivamus in magna eu
nulla mattis eleifend porta sed neque. Mauris mollis massa justo, at auctor
erat pretium eget. Nunc mollis, sem ut varius malesuada, quam leo maximus ante,
ac semper tortor neque non tortor. Aliquam nulla elit, porttitor sed nunc
vitae, cursus pharetra justo. Quisque vestibulum, libero id molestie gravida,
leo nunc suscipit risus, nec hendrerit purus dui in augue. Vestibulum mauris
nibh, sodales non magna id, sollicitudin ultricies magna. Cum sociis natoque
penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>


{% endblock %}
