{% extends "base.html" %}
{% block "header-extra" %}
<div class="callout"><div class="inner">
    <h2>Who we are</h2>
    <p>The Flying Squirrel Community Space is a welcoming space for artists,
    activists, and community members in Rochester.  We aim to cultivate and
    sustain long lasting relationships so we can work together to create
    positive social change.</p>
    <ul>
        <li><a href="#">More about us</a>.</li>
        <li><a href="#">Groups that use the space.</a></li>
    </ul>
    <ul class="vcard">
      <li class="adr">
        <span class="street-address">285 Clarissa St.</span>
        <span class="locality">Rochester</span>
        <span class="state">NY</state>,
        <span class="postal-code">14608</span>
      </li>
      <li class="tel">585-678-6870</li>
    </ul>
</div></div>

<div class="callout"><div class="inner">
    <h2>What's Happening?</h2>

    <ul class="upcoming">
      <li>
      <div class="title">Coalition of Concerned Residents of Monroe County</div>
      <div class="date">Mon, Jan. 19 - 6:00pm - 8:00pm</div>
      </li>

      <li>
      <div class="title">Flying Squirrel Working time</div>
      <div class="date">Mon, Jan. 19 - 7:00pm - 9:00pm</div>
      </li>

      <li>
      <div class="title">Enough is Enough! Organizing meeting</div>
      <div class="date">Tue, Jan. 20 - 7:00pm - 9:00pm</div>
      </li>

      <li>
      <div class="title">Whirly Wednesday --upstairs</div>
      <div class="date">Wed, Jan. 21 - 7:00pm - 10:00pm</div>
      </li>

      <li>
      <div class="title">TBTL Meeting</div>
      <div class="date">Wed, Jan. 21 - 7:00pm - 9:00pm</div>
      </li>
    </ul>

    <a href="#" class="host">host your event at the squirrel</a>
</div></div>

<div class="callout"><div class="inner">
    <h2>Get Involved</h2>
    <ul>
      <li>Friend us! <a href="#">Flying Squirrel Facebook page</a></li>
      <li>Sign up for our <a href="#">event announcement list</a></li>
      <li><a href="#">Volunteer at the squirrel</a></li>
      <li><a href="#">Donate to the squirrel</a></li>
    </ul>
</div></div>

{% endblock %}
{% block "content" %}
{% endblock %}
