{% extends "base.html" %}
{% load i18n events %}

{% block nav %}
{% if user.is_authenticated %}
<nav id="main">
  <div id="expand-menu">
    <button>{% trans "MENU" %}</button>
  </div>
  <ul>
    {% include "squirrel-menu.html" %}
  </ul>
</nav>
{% endif %}
{% endblock %}

{% block header-extra %}
<div class="callouts">
  <div class="callout">
      <h2>Who we are</h2>
      <p>The Flying Squirrel is a welcoming space for artists, activists, and
      community members in Rochester.  We aim to cultivate and sustain long
      lasting relationships so we can work together to create positive social
      change.</p>
      <ul class="vcard">
        <li class="adr">
          <span class="street-address">285 Clarissa St.</span>
          <span class="locality">Rochester</span>
          <span class="state">NY</state>,
          <span class="postal-code">14608</span>
        </li>
        <li class="tel">585-678-6870</li>
      </ul>
      <div class="next-step"><a href="{% url "docs:view" "about-us" %}">More About Us</a></div>
  </div>

  <div class="callout">
      <h2>What's Happening?</h2>
      {% upcoming-events %}
      <div class="next-step"><a href="{% url "events:calendar" %}">Full Calendar</a></div>
  </div>

  <div class="callout">
      <h2>Using the Space</h2>
      <strong>Need a space to hold your event?</strong> We'd love to work with
      you.  We host all kinds of events including group meetings, private
      parties, music shows, film screenings, speakers, and more.
      <div class="next-step"><a href="{% url "events:book-the-space" %}">Book the Space</a></div>
  </div>
</div>
{% endblock %}

{% block content %}
{% if topstory %}
<article>
  <h2>{{ topstory.title }}</h2>
  {{ topstory.render_body }}
</article>
<a class="button" href="{% url "articles:index" %}">All Blog Posts</a>
{% else %}
<h2>{% trans "No blog posts" %}</h2>
{% endif %}
{% endblock %}
