{% extends "base.html" %}
{% load i18n %}
{% block "body-attrs" %} id="members"{% endblock %}
{% block "content" %}
<div class="members">
  <div class="documents">
    <h2>{% trans "Member Documents" %}</h2>
    <ul>
      {% for doc in documents %}
      <li>
        <a href="{% url "docs:edit" doc.slug %}" class="action">{% trans "edit" %}</a>
        <a href="{% url "docs:view" doc.slug %}"><h3>{{ doc.title }}</h3></a>
      </li>
      {% empty %}
      <li class="empty">No documents created</li>
      {% endfor %}
    </ul>
    <a href="{% url "docs:create" %}" class="create">{% trans "Create New Document" %}</a>
  </div>
</div>
{% endblock %}
