{% load i18n %}
<li id="squirrel-menu">
<i class="fa fa-fw fa-caret-down"></i>
{% blocktrans %}logged in as {{ user }}{% endblocktrans %}
  <ul aria-hidden="true">
    <li><a href="#"><i class="fa fa-fw fa-calendar"></i> add event</a></li>
    <li><a href="{% url "docs:create" %}?from_url={{ request.path }}"><i class="fa fa-fw fa-file-text"></i> add document</a></li>
    <li><a href="#"><i class="fa fa-fw fa-newspaper-o"></i> add blog post</a></li>
    <li><a href="{% url "docs:index" %}"><i class="fa fa-fw fa-folder"></i> member docs</a></li>
    <li><a href="#"><i class="fa fa-fw fa-user-plus"></i> invite member</a></li>
    <li><a href="#"><i class="fa fa-fw fa-user"></i> my account</a></li>
    <li><a href="{% url "logout" %}"><i class="fa fa-fw fa-sign-out"></i> logout</a></li>
  </ul>
</li>
