#event {
    ul.schedule {
        @extend %medium-text;
        padding-bottom: 5rem;
    }
}
#calendar {
    .content {
        max-width: 1200px;
    }

    .month {
        margin-top: 4rem;
        a {
            @include button(primary, small);
        }
        a.next {
            float: right;
        }
        a.prev {
            float: left;
        }
        h2 {
            text-align: center;
        }
    }
}

table.calendar {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    width: 700px;
    overflow-x: scroll;

    td, th {
        width: percentage(1/7);
        vertical-align: top;
        border: 1px solid $gray;
    }

    th {
    }

    td {
        padding: 8px;
        height: 20rem;

        &.other-month {
            background: $lighter-gray;
        }
    }


    ul {
        list-style-type: none;
    }

    li {
        @extend %small-text;
        margin-bottom: 2.1rem;
    }

    .time {
        font-weight: bold;
    }

    a {
        display: block;
        color: inherit;

        &:hover {
            color: $primary;
        }
    }

    .time, .title {
        padding-left: 6px;
    }

    .day {
        text-align: right;
        color: $darkish-gray;
    }

}

form.events {
    .weekdays {
        width: 80%;
        margin-left: 20%;
        float: right;
        label {
            display: block;
            float: left;
            text-align: center;
            width: percentage(1/7);

            &:last-of-type {
                width: auto;
                float: none;
            }
        }
        input {
            width: auto;
            display: inline;
            text-align: center;
            margin: 0.4rem 0 0 0;
        }
    }

    @include small-screen {
        .weekdays {
            width: 100%;
            margin-left: 0;
            float: none;

            label {
                @include small-text;
            }
        }
    }

    .details {
        display: none;
    }
}

.pika-button, .pika-label, .pika-table th {
    font-size: 1.8rem;
    line-height: 2.4rem;
    background: none;
    text-align: center;
}

.pika-table th {
    padding-bottom: 0.5rem;
}

.pika-button, .pika-label {
    color: $dark-gray;
}

.pika-table abbr {
    cursor: default;
}

.pika-button {
    padding: 0;
    line-height: 3.2rem;
    &:hover {
        background: $light-yellow !important;
    }
}

.pika-lendar {
    width: 100%;
    margin: 0;
}

.pika-single {
    border-radius: 5px;
    border-color: $gray;
}
