html#event {
    h1 {
        margin-bottom: 10px;
    }
    dl.details {
        @extend %medium-text;
        padding-bottom: 20px;
    }
}

html#link-event {
    table {
        margin-bottom: 40px;
    }
}

html.space-request-form ul.pou {
    list-style-type: none;

    li {
        margin: 0 0 1rem 40px;
    }

    @include small-screen {
        li {
            margin: 0 10px 1rem 10px;
        }
    }
}

html#calendar {
    .content {
        max-width: 1200px;
    }

    .month {
        @include not-small-screen {
            margin-top: 4rem;
        }
        h2 {
            text-align: center;
        }
    }

    a.next, a.prev {
        @include medium-text;
    }
    a.next {
        float: right;
    }
    a.prev {
        float: left;
    }

    .date-details {
        p.help {
            padding-top: 1rem;
            font-style: italic;
        }
    }

    @include not-small-screen {
        .date-details {
            display: none;
        }
    }

    .pending {
        color: $semi-dark-gray;
        font-style: italic;
    }
    .declined, .canceled {
        color: $red;
        font-style: italic;
    }
    .approved-pending-deposit {
        color: $green;
        font-style: italic;
    }
}

table.calendar, div.date-details {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
        width: percentage(1/7);
        vertical-align: top;
        border: 1px solid $gray;
    }

    th {
        padding: 5px 0;
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 2.1rem;
    }

    .time {
        font-weight: bold;
    }

    a {
        display: block;
        color: inherit;

        &:hover {
            color: $primary;
        }
    }

    .time, .title {
        padding-left: 6px;
    }


    td {
        padding: 8px;
        height: 20rem;

        &.other-month {
            background: $lighter-gray;
        }
    }

    .day {
        text-align: right;
        color: $darkish-gray;
    }

}

table.calendar {
    li {
        @extend %small-text;
    }

    @include small-screen {
        td {
            padding: 0 2px;
            height: 4rem;
        }
        ul {
            display: none;
        }
    }
}

table.space-requests {
    span.state {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 6px 8px;
        text-align: center;
        font-weight: bold;
        color: $white;
        border-radius: 5px;
    }
    span.approved {
        background: $green;
    }
    span.approved-pending-deposit {
        background: $green;
    }
    span.declined, span.canceled {
        background: $red;
    }
    span.pending {
        background: $darkish-gray;
    }

    @include small-screen {
        td.small-exclude, th.small-exclude {
            display: none;
        }

        span.approved, span.declined, span.pending, span.canceled {
            padding: 6px 2px;
        }
    }
}

html#space-request {
    div.status {
        float: right;
        margin-top: 20px;
        padding: 6px 8px;
        font-weight: bold;
        color: $white;
        border-radius: 5px;
    }
    div.approved {
        background: $green;
    }
    div.declined, div.canceled {
        background: $red;
    }
    h2 {
        margin: 0.5rem 0 1rem 20px;
    }

    p.extra {
        margin: -20px 20px 20px 20px;
    }
    p.comments {
        margin-left: 20px;
    }

    .tools {
        margin-top: 20px;
    }

    form {
        border: 1px solid $gray;
        background: $lighter-gray;
        padding: 10px 20px;
        margin-top: 40px;

        input, select, textarea {
            border-color: $gray;
        }
    }

    div.notes {
        margin-top: 20px;

        ul {
            list-style-type: none;
        }

        li {
            padding: 1rem 0 0 40px;
            border-bottom: 1px solid $light-gray;

            &:last-of-type {
                border: none;
            }
        }

        .date-time, .user {
            @extend %medium-text;
            color: $darkish-gray;
        }


        .date-time {
            float: right;
        }

    }
}

form.events {
    .weekdays {
        width: 70%;
        margin-left: 30%;

        label {
            display: block;
            float: left;
            text-align: center;
            width: percentage(1/7);

            &:last-of-type {
                width: auto;
                float: none;
            }
        }
        input {
            width: auto;
            display: inline;
            text-align: center;
            margin: 0.4rem 0 0 0;
        }
    }

    .exclude-list {
        width: 70%;
        float: right;
        margin-left: 2rem;
        position: relative;

        .pika-single {
            border: 0;
        }

        .calendar {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #aaa;
        }

        .date {
            background: $light-gray;
            @include small-text;
            line-height: 2.5rem;
            padding: 0 10px;
            border-radius: 5px;
            margin: 0 0 5px 5px;
            float: left;

            a {
                border: 0;
                padding: 0;
                margin: 0;
                background: inherit;
                color: inherit;
            }
        }

        a.add {
            margin: 0;
        }
    }

    @include small-screen {
        .weekdays {
            width: 100%;
            margin-left: 0;
            float: none;

            label {
                @include small-text;
            }
        }
    }

    .details {
        display: none;
    }
}

form.space-use-request {
    p.donation {
        padding: 20px;
        border: 1px solid $gray;
        border-radius: 5px;
        background: $white;
    }
}

.pika-button, .pika-label, .pika-table th {
    font-size: 1.8rem;
    line-height: 2.4rem;
    background: none;
    text-align: center;
}

.pika-table { 
    th, td {
        border: none;
    }

    th {
        padding-bottom: 0.5rem;
    }
}

.pika-button, .pika-label {
    color: $dark-gray;
}

.pika-table abbr {
    cursor: default;
}

.pika-button {
    padding: 0;
    line-height: 4.0rem;
    &:hover {
        background: $light-yellow !important;
    }
}

.pika-lendar {
    width: 100%;
    margin: 0;
}

.pika-single {
    border-radius: 5px;
    border-color: $gray;
}
