fieldset.editor {
    a.hint {
        float: right;
        @extend %small-text;
        padding-right: 1rem;
    }

    ul.errorlist {
        margin-top: 0;
        float: left;
    }

    .add-media {
        padding: 0.6rem 0 0.6rem 0;
        @extend %small-text;
        span {
            margin-right: 1em;
        }
        button {
            @include button(secondary, small);

            &.preview {
                float: right;
                margin-right: 0;
            }
        }
    }
    .add-media-progress {
        display: none;
        position: relative;
        height: 3.6rem;
        border-radius: 5px;
        border: 1px solid $light-gray;

        .bar {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0;
            background: $light-yellow;
            border-radius: 4px;
        }
        .text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            @extend %medium-text;
            text-align: center;
            line-height: 3.6rem;
        }
    }

    @media screen and (max-width: $content-width + 150px) {
        button.preview {
            display: none;
        }

    }
}

#editor-preview-modal {
    @extend %modal;
    top: 10%;
    left: 50%;
    margin-left: -400px;

    h2.title {
        text-align: center;
    }

    button.close {
        @include button(secondary, medium);
        position: absolute;
        right: 10px;
        margin: 0;
        top: 10px;
        padding: 0.5rem;
        border: none;
    }
    div.content {
        overflow-y: auto;
        height: 400px;
        margin: 1rem 0;
        padding: 0 50px;
    }

    div.body {
        width: $content-width;
        margin: 0 auto;
    }

    figure {
        position: relative;
        ul.adjustments {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;

            li {
                display: inline;
            }
        }
        &:hover ul.adjustments {
            display: block;
        }
        button {
            @include button('secondary', 'small');
            border-radius: 0;
            background: rgba(0, 0, 0, 0.6);
            border: none;
            color: $white;
            margin-right: 0;
            &:hover {
                background: lighten($primary, 8%);
            }
            &.active {
                background: $primary;
                border-color: $primary;
                color: $white;
            }
        }
        li:last-of-type button {
            margin-right: 0;
        }
    }
}
