.editor-formatting-example {
    code {
        display: block;
        font-family: monospace;
        border: 1px solid $gray;
        padding: 0 1rem 1rem 1rem;
        background: $lighter-gray;
        border-radius: 5px 5px 0 0;
    }
    div.rendered {
        border: 1px solid $gray;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 1rem 1rem 0 1rem;
    }
    padding-bottom: 4rem;

    .label {
        @extend %medium-text;
        text-align: right;
        color: $darkish-gray;
    }

}
