// Media breakpoints

$large-screen-width: 1200px;
$medium-screen-width: 768px;

@mixin small-screen {
  @media only screen and (max-width: $medium-screen-width - 1) {
    @content;
  }
}

@mixin not-small-screen {
  @media only screen and (min-width: $medium-screen-width) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (min-width: $medium-screen-width) and (max-width: $large-screen-width - 1) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: $large-screen-width) {
    @content;
  }
}


@mixin group {
    // clearfix for container elements with floating children
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.split-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.split-screen-one {
  display: grid-item;
  grid-column: 1;
  grid-row: 1;
}
.split-screen-two {
  display: grid-item;
  grid-column: 2;
  grid-row: 1;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    background: $white;
}
img {
    // Prevent images from overflowing their container.
    max-width: 100%;
    height: auto;
}

// z-index levels
$z-index-normal: 0;
$z-index-overlay: 1;
$z-index-menu: 2;
$z-index-modal: 3;
