@function button-colors($style) {
    // Returns button colors in the form of
    // (background, color, border, hover-background)
    @if $style == primary {
        @return ($primary, $white, $primary, darken($primary, 8%));
    } @else if $style == secondary {
        @return ($white, $dark-gray, $gray, darken($white, 10%));
    } @else if $style == delete {
        @return ($dark-red, $white, $dark-red, darken($dark-red, 8%));
    }
}

@function button-sizing($size) {
    // Returns button size info in the form of
    // (font-size, line-height, x-padding, margin-right)
    @if $size == large {
        @return (1.8rem, 3.6rem, 40px, 20px);
    } @else if $size == normal {
        @return (1.6rem, 2.8rem, 20px, 20px);
    } @else if $size == small {
        @return (1.4rem, 2.4rem, 10px, 10px);
    }
}

@function button-height($size) {
    @return nth(button-sizing($size), 2);
}

@mixin button($style: primary, $size: normal) {
    @include body-font;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        text-decoration: none;
    }

    $sizing: button-sizing($size);
    font-size: nth($sizing, 1);
    line-height: nth($sizing, 2);
    padding: 0 nth($sizing, 3);
    margin-right: nth($sizing, 4);

    $colors: button-colors($style);
    background-color: nth($colors, 1);
    color: nth($colors, 2);
    border-color: nth($colors, 3);
    &:hover {
        background-color: nth($colors, 4);
    }

}

button, a.button {
    @include button(primary, large);
}

