$button-font-size: 1.8rem;
$button-line-height: 2.4rem;
$button-vertical-padding: 0.6rem;
$button-horizontal-padding: 4.4rem;
$button-height: $button-line-height + $button-vertical-padding * 2;

@mixin button {
    display: inline-block;
    font-size: $button-font-size;
    line-height: $button-line-height;
    padding: $button-vertical-padding $button-horizontal-padding;
    background: $primary;
    color: $white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: lighten($primary, 5%);
    }
}

a.button, button {
    @include button;
}
