@function button-colors($size) {
    // Returns button colors in the form of
    // (background, color, border, hover-background)
    @if $size == primary {
        @return ($primary, $white, $primary, darken($primary, 8%));
    } @else if $size == secondary {
        @return ($white, $dark-gray, $gray, darken($white, 10%));
    } @else if $size == delete {
        @return ($dark-red, $white, $dark-red, darken($dark-red, 8%));
    }
}

@function button-sizing($size) {
    // Returns button size info in the form of
    // (font-size, line-height, x-padding)
    @if $size == large {
        @return (1.8rem, 3.6rem, 4.0rem);
    } @else if $size == normal {
        @return (1.6rem, 2.8rem, 2.0rem);
    } @else if $size == small {
        @return (1.4rem, 2.4rem, 1.0rem);
    }
}

@function button-height($size) {
    @return nth(button-sizing($size), 2);
}

%button {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
        text-decoration: none;
    }
}

@each $size in large, normal, small {
    %button-#{$size} {
        $sizing: button-sizing($size);
        font-size: nth($sizing, 1);
        line-height: nth($sizing, 2);
        padding: 0 nth($sizing, 3);
    }
}

@each $style in primary, secondary, delete {
    %button-#{$style} {
        $colors: button-colors($style);
        background-color: nth($colors, 1);
        color: nth($colors, 2);
        border-color: nth($colors, 3);
        &:hover {
            background-color: nth($colors, 4);
        }
    }
}

@mixin button($style: primary, $size: normal) {
    @extend %button;
    @extend %button-#{$style};
    @extend %button-#{$size};
}

button {
    @include button(primary, large);
}

