$dark-gray: #222;
$darkish-gray: #555;
$gray: #aaa;
$light-gray: #ddd;
$lighter-gray: #eee;
$off-white: #fafafa;

$primary: #316BAC;
$green: #91B806;
$white: #fff;
$red: #f30;
$dark-red: #c9302c;
$dark-yellow: #ffC600;
$light-yellow: #ffd23b;
