// content.scss
//
// General styles for page content

.content {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 20px;

    html.wide-content & {
        max-width: $wide-content-width;
    }
}

article {
    @extend %group;
    h1 {
        border-bottom: 1px solid $light-gray;
    }
    padding-bottom: 5rem;
}

code {
    background: $lighter-gray;
    border: 1px solid $gray;
    padding: 0.2rem 0.4rem;
    margin: -0.2rem 0;
    border-radius: 5px;
}

.tools {
    margin-top: 4rem;

    a {
        @include button(secondary, large);
    }
}
