// content.scss
//
// General styles for page content

.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.tools {
    margin-top: 4rem;

    a {
        @include button(secondary, large);
    }
}
