ul.footer {
    @include group;
    max-width: 1200px;
    margin: 300px auto 10px auto;
    border-top: 1px solid $light-gray;

    li {
        margin-top: 20px;
        float: left;
        width: 25%;
        text-align: center;
        border-right: 1px solid $light-gray;
        box-sizing: border-box;

        &.last {
            border-right: none;
        }
    }

    div.fa {
        display: block;
        font-size: 3.6rem;
    }

    a {
        display: block;
        text-align: center;
        color: #444;
        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }
}
