.footer {
    padding: 30px 0;
    background: #eee;

    ul {
        @include group;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    li {
        float: left;
        width: 25%;
        text-align: center;
        border-right: 1px solid $gray;
        box-sizing: border-box;

        &.last {
            border-right: none;
        }
    }

    div.fa {
        display: block;
        font-size: 3.6rem;
        line-height: 4.0rem;
    }

    a {
        display: block;
        text-align: center;
        color: #444;
        font-size: 1.6rem;
        line-height: 2.0rem;
        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }
}
