form {
    @include group;
    margin: 0;
    padding: 20px 10px 10px 10px;
    border: 1px solid $light-gray;

    fieldset {
        border: 1px solid $light-gray;
        padding: 10px;
        margin-bottom: 30px;
        background: $off-white;

        > .section {
            padding-bottom: 40px;
        }
    }

    legend {
        @extend %medium-text;
    }

    label {
        display: block;
        margin: 0;
        padding: 8px 0;
    }

    span.required {
        color: $red;
    }

    p.help {
        @extend %small-text;
        font-style: italic;
        margin: 0;
        padding: 0;
    }


    input, select, textarea {
        @extend %body-font;
        @extend %medium-text;
        width: 100%;
        border: 1px solid $light-gray;
        background: $white;
        padding: 0.5em;
        border-radius: 5px;
        margin: 2px 0 0 0;

        &:focus {
            border-color: $dark-gray;
        }

        &[type=checkbox] {
            width: auto;
        }

    }

    @include not-small-screen {
        .compact {
            input, select, textarea {
                width: 70%;
                margin: 0 0 0 20px;
            }

            label {
                text-align: right;
                @include group;
            }
        }
    }

    textarea {
        resize: vertical;

        &[name=body] {
            height: 300px;
        }

    }

    option {
        background: $white;
    }

    ul.errorlist {
        @extend %small-text;
        float: right;
        padding: 0;
        font-style: italic;
        list-style-type: none;
        margin-top: 8px;
        color: $red;
        max-width: 30%;

        li {
            padding: 0;
        }
    }

    .compact ul.errorlist {
        float: none;
        margin-left: 20%;
    }

    .actions {
        margin-top: 30px;
    }

    button, a.button {
        @include button(secondary);
        &.submit {
            @include button(primary);
            float: right;
            margin: 0;
        }
        &.delete {
            @include button(delete);
        }
        @include small-screen {
            &.cancel {
                display: none;
            }
        }
    }
}

form.action {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: right;

    button {
        margin: 0;
    }
}

form.text-with-button {
    padding: 0;
    margin: 0;
    border: 0;

    input, button {
        float: left;
        display: block;
        margin: 0;
        border-color: $light-gray;
    }

    input {
        width: 80%;
        border-radius: 5px 0 0 5px;
        border-right: 0;
    }

    button {
        border-radius: 0 5px 5px 0;
        line-height: 2.3rem;
        padding: 8px 0;
        width: 20%;
    }
}
