form {
    @extend %group;
    margin: 0;
    padding: 0 0 1em 0;
    padding: 2rem 1rem;
    border: 1px solid $light-gray;

    fieldset {
        border: 1px solid $light-gray;
        padding: 1rem;
        margin-bottom: 3rem;
        background: $off-white;
    }

    legend {
        @extend %medium-text;
    }

    label {
        display: block;
        margin: 0;
        padding: 0.8rem 0;
    }

    span.required {
        color: $red;
    }

    p.help {
        @extend %small-text;
        font-style: italic;
        margin: 0;
        padding: 0;
    }


    input, select, textarea {
        @extend %body-font;
        @extend %medium-text;
        width: 100%;
        border: 1px solid $light-gray;
        background: $white;
        padding: 0.5em;
        border-radius: 5px;
        margin: 0.2rem 0 0 0;

        &:focus {
            border-color: $dark-gray;
        }

    }

    @include not-small-screen {
        .compact {
            input, select, textarea {
                width: 80%;
                margin: 0 0 0 2.0rem;
            }

            label {
                text-align: right;
                @extend %group;
            }
        }
    }

    textarea {
        resize: vertical;

        &[name=body] {
            height: 30rem;
        }

    }

    option {
        background: $white;
    }

    ul.errorlist {
        @extend %small-text;
        float: right;
        padding: 0;
        font-style: italic;
        list-style-type: none;
        margin-top: 0.8rem;
        color: $red;
    }

    .compact ul.errorlist {
        float: none;
        margin-left: 20%;
    }

    .actions {
        margin-top: 3rem;
    }

    button {
        @include button(secondary);
        &.submit {
            float: right;
            margin: 0;
            @include button(primary);
        }
        &.delete {
            @include button(delete);
        }
    }
}
