form {
    @include group;
    margin: 0;
    padding: 0 0 1em 0;

    fieldset {
        border: 1px solid $light-gray;
        padding: 1rem;
        margin-bottom: 3rem;
        background: $off-white;
    }

    legend {
        font-size: 1.6rem;
    }

    label {
        display: block;
        margin: 0;
        padding: 0.8rem 0;
    }

    input, select, textarea {
        @include body-font;
        width: 100%;
        border: 1px solid $light-gray;
        background: $white;
        padding: 0.5em;
        border-radius: 5px;
        margin: 0.2rem 0 0 0;
        font-size: 1.6rem;

        &:focus {
            border-color: $dark-gray;
        }

    }

    .compact {
        input, select, textarea {
            width: 80%;
            margin: 0 0 0 2.0rem;
        }

        label {
            text-align: right;
            @include group;
        }
    }

    textarea {
        resize: vertical;

        &[name=body] {
            height: 30rem;
        }

    }

    option {
        background: $white;
    }

    ul.errorlist {
        float: right;
        padding: 0;
        font-size: 1.4rem;
        font-style: italic;
        list-style-type: none;
        margin-top: 0.8rem;
        color: $red;
    }

    .actions {
        margin-top: 3rem;
    }

    button.submit {
        float: right;
        margin: 0;
    }
    button.cancel {
        @include button(secondary, large);
    }
    button.delete {
        @include button(delete, large);
    }
}
