.heading {
    @include group;
    @extend %medium-text;
    background: url($static-url + 'images/heading.png') center top no-repeat #ffc600;
    border-bottom: 1px solid $gray;

    @include medium-screen {
        background-position: -600px top;
    }

    @include small-screen {
        background-image: url($static-url + 'images/heading-small.png');
        background-position: left top;
    }

    .top, .extra {
        // 1240px max-width because the content is based on 1200px max width
        // with 20px padding on both sides.
        max-width: 1240px;
        margin: 0 auto;
    }

    .top {
        position: relative;
        height: 148px;

        @include small-screen {
            height: 105px;
        }

        h1 {
            @extend %title-font;
            margin: 0;
            position: absolute;
            top: 50px;
            right: 20px;
            text-align: right;

            @include small-screen {
                top: 10px;
                span {
                    display: block;
                }
            }
        }

        ul.vcard {
            position: absolute;
            bottom: 0.5em;
            left: 100px;
            right: 20px;

            text-align: right;

            margin: 0;
            padding: 0;

            @extend %small-text;

            li {
                display: inline;
                margin-left: 20px;
            }

            @include small-screen {
                display: none;
            }
        }
    }

    nav {
        position: absolute;
        top: 0;
        right: 20px;
        i {
            font-size: 1.4rem;
        }
        ul {
            @include group;
            list-style-type: none;
            float: right;
        }
        li {
            float: left;
            background: $white;
            margin-left: 1.2rem;
            padding: 0.3rem 2.0rem;
            border-radius: 0 0 5px 5px;
            color: $darkish-gray;
        }
        a {
            color: $darkish-gray;
            &:hover {
                color: $primary;
            }
        }

        @include small-screen {
            display: none;
        }
    }

    #squirrel-menu {
        position: relative;
        padding-left: 0.5rem;
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
        border-left: 1px solid $white;
        border-right: 1px solid $white;

        &.active {
            border-radius: 0;
            border-color: $darkish-gray;
        }

        ul {
            position: absolute;
            top: 100%;
            left: -1px;
            right: -1px;
            padding: 0;
            display: none;
            border: 1px solid $darkish-gray;
            border-top: none;
            border-radius: 0 0 5px 5px;
            z-index: $z-index-menu;

            li {
                display: block;
                border-radius: 0;
                box-sizing: border-box;
                border-top: 1px solid $light-gray;
                margin: 0;
                width: 100%;
                padding: 0.5rem 0 0.5rem 0.5rem;
                &:first-of-type {
                    border-color: $darkish-gray;
                }
                &:last-of-type {
                    border-radius: 0 0 5px 5px;
                }
            }
        }

        &.active ul {
            display: block;
        }
    }

    .callouts {
        display: table;
        border-spacing: 2rem 0;
        margin-bottom: 1rem;
        @include small-screen {
            margin-bottom: 0;
        }
    }

    .callout {
        display: table-cell;
        width: 400px;
        padding: 0 1rem button-height(large) + 1.6rem 1rem;
        background: $white;
        border-radius: 5px;
        border: 1px solid $gray;
        position: relative;


        @include medium-screen {
            width: 33%;
        }
        @include small-screen {
            width: auto;
            display: block;
            margin-bottom: 10px;
        }

        .next-step {
            position: absolute;
            left: 10%;
            width: 80%;
            bottom: 0.8rem;
            margin: 0 auto;

            a {
                @include button(primary, large);
                display: block;
            }
        }

        .vcard {
            display: none;

            @include small-screen {
                margin-top: -1em;
                display: block;
            }
        }

        ul {
            list-style-type: none;

            &.upcoming {
                li {
                    margin-bottom: 0.5em;
                }

                a.title {
                    display: block;
                    max-height: 1.4em;
                    overflow: hidden;
                }

                .date {
                    font-style: italic;
                }
            }
        }
    }
}
