.heading {
    background: url($static-url + 'images/heading.png') center top no-repeat #ffc600;
    @include group;
    margin-bottom: 3rem;
    border-bottom: 1px solid $gray;

    @include medium-screen {
        background-position: -600px top;
    }

    @include small-screen {
        background-image: url($static-url + 'images/heading-small.png');
        background-position: left top;
    }

    .top, .extra {
        max-width: 1200px;
        margin: 0 auto;
    }

    .top {
        position: relative;
        height: 148px;

        @include small-screen {
            height: 105px;
        }

        h1 {
            @include title-font;
            margin: 0;
            position: absolute;
            top: 50px;
            right: 20px;
            text-align: right;

            @include small-screen {
                top: 10px;
                span {
                    display: block;
                }
            }
        }

        ul.vcard {
            position: absolute;
            bottom: 0.5em;
            left: 100px;
            right: 20px;

            text-align: right;

            margin: 0;
            padding: 0;

            @include small-text;

            li {
                display: inline;
                margin-left: 20px;
            }

            @include small-screen {
                display: none;
            }
        }
    }

    nav {
        position: absolute;
        top: 0;
        right: 20px;
        ul {
            @include group;
            list-style-type: none;
            float: right;
        }
        li {
            float: left;
            background: $white;
            margin-left: 1.2rem;
            padding: 0.3rem 2.0rem;
            border-radius: 0 0 5px 5px;
        }
        a {
            color: $darkish-gray;
        }

        @include small-screen {
            display: none;
        }
    }

    .callouts {
        display: table;
        border-spacing: 2rem 0;
        margin-bottom: 1rem;
        @include small-screen {
            margin-bottom: 0;
        }
    }

    .callout {
        display: table-cell;
        width: 400px;
        padding: 0 1rem $button-height + 1.6rem 1rem;
        background: $white;
        border-radius: 5px;
        border: 1px solid $gray;
        position: relative;


        @include medium-screen {
            width: 33%;
        }
        @include small-screen {
            width: auto;
            display: block;
            margin-bottom: 10px;
        }

        .next-step {
            position: absolute;
            left: 10%;
            width: 80%;
            bottom: 0.8rem;
            margin: 0 auto;

            a {
                @include button;
                display: block;
            }
        }

        .vcard {
            display: none;

            @include small-screen {
                margin-top: -1em;
                display: block;
            }
        }

        ul {
            list-style-type: none;

            &.upcoming {
                li {
                    margin-bottom: 0.5em;
                }

                a.title {
                    display: block;
                    max-height: 1.4em;
                    overflow: hidden;
                }

                .date {
                    font-style: italic;
                }
            }
        }
    }
}
