body {
    background: $dark-gray;
}

.page {
    @include large-screen {
        width: $large-screen-width;
        margin: 0 auto;
    }
}

.content {
    background: $white;
    padding: 0 20px;
}
