.documents-list {
    margin-top: 20px;
    border: 1px solid $gray;
    border-radius: 5px;

    h2 { // Header at the top of the list
        padding: 0 10px;
        vertical-align: middle;
    }

    h3 { // Header for each item
        margin: 0;
        padding: 10px 0;
        vertical-align: middle;
    }

    ul {
        list-style-type: none;
        border-top: 1px solid $gray;
        padding: 0;
    }

    li {
        @include group;
        padding: 0 10px;

        &:nth-of-type(even) {
            background: $lighter-gray;
        }

        &.empty {
            font-style: italic;
            padding: 10px;
        }
    }
    a.action {
        @include button(secondary, small);
        margin: 10px 0 0 0;
        float: right;
    }
    a.create {
        @include button;
        float: right;
        margin-right: 0;
    }
    .emblem {
        font-size: 1.4rem;
        background: $primary;
        color: $white;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        margin-left: 10px;
    }
}
