.documents-list {
    margin-top: 2rem;
    border: 1px solid $gray;
    border-radius: 5px;

    h2 {
        padding: 0 1rem;
        vertical-align: middl;
    }


    ul {
        list-style-type: none;
        border-top: 1px solid $gray;
        padding: 0;
    }

    li {
        @extend %group;
        padding: 0 1rem;

        &:nth-of-type(even) {
            background: $lighter-gray;
        }

        &.empty {
            font-style: italic;
            padding: 1rem 1rem;
        }
    }
    a.action {
        @include button(secondary, small);
        float: right;
    }
    a.create {
        @include button;
        float: right;
        margin-right: 0;
    }
    .emblem {
        font-size: 1.4rem;
        background: $primary;
        color: $white;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        margin-left: 1rem;
    }
}

ul.jump {
    list-style-type: none;
    display: inline;
    li {
        @extend %small-text;
        display: inline;
        margin-right: 0.6rem;
    }
}
