#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: $z-index-overlay;
}

%modal {
    display: none;
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: $white;
    border: 2px solid $dark-gray;
    z-index: $z-index-modal;

    i.fa-spinner {
        position: absolute;
        font-size: 50px;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
    }
}
