nav#main {
    padding: 0 10px;

    ul {
        @include group;
        margin: 0;
        padding: 0;

        li {
            float: left;
            list-style-type: none;
            padding: 1em 0;
            margin-right: 20px;
            &.user {
                float: right;
                margin-right: 0;
            }
        }
    }
    a {
        color: #ddd;
        font-weight: normal;

        &.menu {
            display: none;
        }

        &.user {
            padding: 1em 0;
            float: right;
        }
    }
}

#menu-toggle {
    display: none;
}

@include small-screen {
    #menu-toggle {
        display: block;
        padding-right: 10px;
    }

    nav#main {
        display: none;

        &.open {
            display: block;
        }

        ul {
            padding-top: 0.5em;
            li {
                float: none;
                width: 100%;
                border-top: 1px solid $gray;
            }
        }
    }
}
