@mixin body-font {
    font-family: "Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
}

@mixin header-font {
    font-family: "Alegreya", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: bold;
}

@mixin title-font {
    font-family: "Alegreya Sans", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 4.4rem;
    @include small-screen {
        // Use absolute font sizes because we want to precisely position over
        // the background image
        font-size: 35px;
        line-height: 50px;
        padding: 0;
    }
}

@mixin small-text {
    font-size: 1.4rem;
}

html {
    // Make the root font size 10px by default, for easy sizing with rems
    font-size: 62.5%;
}

body {
    @include body-font;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $dark-gray;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include header-font;
    padding: 1.2rem 0;
    margin: 0;
}

h1 {
    font-size: 3.7rem;
    line-height: 4.0rem;
    @include small-screen {
        font-size: 2.3rem;
        line-height: 2.6rem;
    }
}
h2 {
    font-size: 2.7rem;
    line-height: 3.0rem;
    @include small-screen {
        font-size: 2.0rem;
        line-height: 2.2rem;
    }
}
h3 {
    font-size: 2.3rem;
    line-height: 2.5rem;
    @include small-screen {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}
h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    @include small-screen {
        font-size: 1.6rem;
    }
}
h5 {
    font-size: 1.4rem;
    line-height: 2.2rem;
}
h6 {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

p {
    margin: 0;
    padding: 0 0 1em 0;
}

ul {
    margin: 0;
    padding: 0 0 1em 0;
    list-style: disc inside;
}
